<div id="<%= dom_id marker %>">

  <div class="d-flex border border-5 border-dark align-items-center mb-5">

    <div class="flex-shrink-0 m-4">
      <img src="/pin_drop_black_48dp.svg" alt="...">
    </div>
    <div class="flex-grow-1">
      <%= link_to marker.name, marker %><br>
      <%= marker.description %><br>
      <%= marker.status %>
    </div>

  </div>


</div>
