<div class="row">
  <div class="col">

    <p style="color: green"><%= notice %></p>

    <div class="row mb-3">
      <div class="col">
        <span class="h3"><%= @markers.count %> Markers</span>
      </div>
      <div class="d-flex col justify-content-end">
        <%= link_to "New marker", new_marker_path, class: 'btn btn-dark' %>
      </div>
    </div>

    <div id="markers">

      <% @markers.each do |marker| %>
        <%= render marker %>
      <% end %>

    </div>

  </div>
</div>
